<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitchDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TwitchDownloader.Properties.Settings>
      <setting name="VodDownloadThreads" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Arial</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="Outline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Timestamp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="UpdateTime" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FFZEmotes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BTTVEmotes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackgroundColorR" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="BackgroundColorG" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="BackgroundColorB" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="FontColorR" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="FontColorG" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="FontColorB" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="FfmpegInputArgs" serializeAs="String">
        <value>-framerate {fps} -f rawvideo -analyzeduration {max_int} -probesize {max_int} -pix_fmt bgra -video_size {width}x{height} -i -</value>
      </setting>
      <setting name="FfmpegOutputArgs" serializeAs="String">
        <value>-c:v libx264 -preset veryfast -crf 18 -pix_fmt yuv420p "{save_path}"</value>
      </setting>
      <setting name="Framerate" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="VideoContainer" serializeAs="String">
        <value>MP4</value>
      </setting>
      <setting name="VideoCodec" serializeAs="String">
        <value>H264</value>
      </setting>
      <setting name="BackgroundColorA" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="OAuth" serializeAs="String">
        <value />
      </setting>
      <setting name="EncodeCFR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenerateMask" serializeAs="String">
        <value>False</value>
      </setting>
    </TwitchDownloader.Properties.Settings>
  </userSettings>
</configuration>
