<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitchDownloaderWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TwitchDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TwitchDownloaderWPF.Properties.Settings>
      <setting name="VodDownloadThreads" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Arial</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="Outline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Timestamp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="UpdateTime" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FFZEmotes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BTTVEmotes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="STVEmotes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackgroundColorR" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="BackgroundColorG" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="BackgroundColorB" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="FontColorR" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="FontColorG" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="FontColorB" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="Framerate" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="VideoContainer" serializeAs="String">
        <value>MP4</value>
      </setting>
      <setting name="VideoCodec" serializeAs="String">
        <value>H264</value>
      </setting>
      <setting name="BackgroundColorA" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="OAuth" serializeAs="String">
        <value />
      </setting>
      <setting name="EncodeCFR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenerateMask" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TempPath" serializeAs="String">
        <value />
      </setting>
      <setting name="HideDonation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TemplateVod" serializeAs="String">
        <value>[{date_custom="M-d-yy"}] {channel} - {title}</value>
      </setting>
      <setting name="TemplateClip" serializeAs="String">
        <value>[{date_custom="M-d-yy"}] {channel} - {title}</value>
      </setting>
      <setting name="TemplateChat" serializeAs="String">
        <value>[{date_custom="M-d-yy"}] {channel} - {title} - Chat</value>
      </setting>
      <setting name="SubMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChatBadges" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LimitVod" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LimitClip" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LimitChat" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LimitRender" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="QueueFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ChatDownloadThreads" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ChatDownloadType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChatEmbedEmotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FfmpegArguments" serializeAs="String">
        <value>[]</value>
      </setting>
      <setting name="EmoteScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GuiTheme" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="IgnoreUsersList" serializeAs="String">
        <value />
      </setting>
      <setting name="ChatBadgeMask" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VerboseErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChatEmbedMissing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChatReplaceEmbeds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Offline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BannedWordsList" serializeAs="String">
        <value />
      </setting>
      <setting name="BadgeScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="VerticalSpacingScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EmojiScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LeftSpacingScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SectionHeightScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WordSpacingScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EmoteSpacingScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AccentStrokeScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AccentIndentScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DisperseCommentOffsets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GuiCulture" serializeAs="String">
        <value>en-US</value>
      </setting>
    </TwitchDownloaderWPF.Properties.Settings>
  </userSettings>
</configuration>
