<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Video.FFMPEG.x64" version="3.8.0" targetFramework="net472" />
  <package id="Emoji.Wpf" version="0.0.19-experimental" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net472" />
  <package id="Infragistics.Themes.IG.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net472" />
  <package id="SkiaSharp.Views" version="1.68.0" targetFramework="net472" />
  <package id="WpfAnimatedGif" version="1.4.18" targetFramework="net472" />
  <package id="Xabe.FFmpeg" version="3.5.0" targetFramework="net472" />
</packages>