<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emoji.Wpf" version="0.0.19-experimental" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net472" />
  <package id="Infragistics.Themes.IG.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Ookii.Dialogs.Wpf" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net472" />
  <package id="SkiaSharp.Views" version="2.80.2" targetFramework="net472" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.80.2" targetFramework="net472" />
  <package id="SkiaSharp.Views.Gtk2" version="2.80.2" targetFramework="net472" />
  <package id="SkiaSharp.Views.WindowsForms" version="2.80.2" targetFramework="net472" />
  <package id="SkiaSharp.Views.WPF" version="2.80.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="WpfAnimatedGif" version="1.4.18" targetFramework="net472" />
  <package id="Xabe.FFmpeg" version="4.4.0" targetFramework="net472" />
  <package id="Xabe.FFmpeg.Downloader" version="4.4.0" targetFramework="net472" />
</packages>