<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitchDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TwitchDownloader.Properties.Settings>
            <setting name="DOWNLOAD_FOLDER" serializeAs="String">
                <value />
            </setting>
            <setting name="RENDER_COLOR" serializeAs="String">
                <value>#111111</value>
            </setting>
            <setting name="RENDER_HEIGHT" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RENDER_WIDTH" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="RENDER_BTTV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RENDER_FFZ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RENDER_OUTLINE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RENDER_FONT_SIZE" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="RENDER_UPDATE_TIME" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RENDER_FONT" serializeAs="String">
                <value />
            </setting>
        </TwitchDownloader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>